{% extends "professional-base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endblock %}

{% block title %} - {{ article.title }}{% endblock %}

{% block content %}
<div class="article-header">
  <div class="container">
    <h1>{{ article.title }}</h1>
    <div class="article-meta">
      <span class="article-date">{{ article.locale_date }}</span>
      {% if article.category %}
      <span class="article-category">{{ article.category }}</span>
      {% endif %}
      {% if article.tags %}
      <div class="article-tags">
        {% for tag in article.tags %}
        <a href="/{{ tag.url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="article-content">
  <div class="container">
    {{ article.content }}
  </div>
</div>

{% if DISQUS_SITENAME %}
<div class="comments-section">
  <div class="container">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
  </div>
</div>
{% endif %}

{% endblock %}
