{% extends "professional-base.html" %}
{% block title %} - {{ page.title }}{% endblock %}

{% block content %}
<div class="page-header">
  <div class="container">
    <h1>{{ page.title }}</h3>
    <p class="page-subtitle">Conference talks, keynotes, and workshops</p>
  </div>
</div>

<div class="speaking-intro section">
  <div class="container-narrow">
    <div class="intro-text">
      <p>I like to give talks on a wide variety of subjects. If you'd like me to give a talk at your event, meetup, roast, or funeral, please get in touch!</p>
    </div>
  </div>
</div>

<div class="speaking-content section">
  <div class="container">
    <div class="talks-list">
      
      <div class="talk-item">
        <h3 class="talk-title">Doing Data Science in the time of ChatGPT</h3>
        <div class="talk-venue">San Antonio Data Science meetup, November 2023</div>
        <p class="talk-description">Some (dated?) thoughts from 2023 on how ChatGPT affects data science.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/12SFKg1ZZe16-6Xigv5x7DRd1GsqanwcOfwC2k5PnWUk/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">LLM Simplicity</h3>
        <div class="talk-venue">Southern Data Science 2023 (Keynote)</div>
        <p class="talk-description">I didn't give them a topic in time, so they chose one for me!</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1t9U-dWkk2-Wncqo_nkv7w9pZmcQVbdhCjX1f5M3rsxQ/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">What's the simplest thing that might possibly work, and why didn't you try that first?</h3>
        <div class="talk-venue">Normconf 2022</div>
        <p class="talk-description">I say this to people on my team all the time. Eventually they start trying it first!</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/11URorkUbl5fCeCK7bBuLoYI3ATLkjEjZcR-7abGwUj0/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Simplicity</h3>
        <div class="talk-venue">Southern Data Science 2022 (Keynote)</div>
        <p class="talk-description">One of my favorite topics.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1nRXi_ES9g0cudNoYHdWIVo7I8KCVv9wVMAMJcOf-ngo/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Ten Ways to Fizz Buzz</h3>
        <div class="talk-venue">PyData Global 2020</div>
        <p class="talk-description">Yes it's a thinly veiled pitch for my book, but (like the book) it's interesting!</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1iQdCFShxnW_0GHwtovBhN-PYqeeO86kxl3QDqxekvc0/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Data Science: A Vision of Things to Come</h3>
        <div class="talk-venue">Southern Data Science 2020 (Keynote)</div>
        <p class="talk-description">In which I try to predict the future of data science.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/11-4j2YpiY7iMwCxgaHUF0s6uFTJF-TKIBPWzkRf5BIY/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Managing Junior Data Scientists in the Time of Coronavirus</h3>
        <div class="talk-venue">IBM Learn AI 2020</div>
        <p class="talk-description">I am trying to branch out and give talks that are less purely technical. (They're easier to write.)</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1PoKysoyHAEOqPJlfich-I5vJ-60UtlQu2Repu92RIZc/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Muppets and Transformers: The New Stars of NLP</h3>
        <div class="talk-venue">RE•WORK AI Summit 2020</div>
        <p class="talk-description">A good overview of "modern" NLP circa 2020.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1WRv-dfOjMyzGcx8H7rOZJia0ovbsV0klyBVga-3KO6k/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Statistics Isn't That Funny, But It Has Its Moments</h3>
        <div class="talk-venue">SDSS 2019 (Banquet Keynote)</div>
        <p class="talk-description"></p>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Reproducibility: A Trojan Horse for Software Engineering Best Practices</h3>
        <div class="talk-venue">ICLR 2019</div>
        <p class="talk-description">Invited talk exploring how reproducibility can drive better engineering practices in machine learning research.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1yHLPvPhUs2KGI5ZWo0sU-PKU3GimAk3iTsI38Z-B5Gw/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Modern NLP for Pre-Modern Practitioners</h3>
        <div class="talk-venue">QCon.ai 2019 (Keynote)</div>
        <p class="talk-description">A whirlwind tour of all the new hotness in NLP.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1iX0fODe0YzPg4Ak-pNqO1KiyF3INgv-Zne27XFSlu1s/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">If Not Notebooks, Then What?</h3>
        <div class="talk-venue">AAAI 2019 "Reproducible AI" Workshop</div>
        <p class="talk-description">Invited talk exploring alternatives to Jupyter notebooks for reproducible AI research.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1ivK8AKgz8Hx-ZYzPC9gJyQK6tzuhR3UuhCEajFGJDlA/edit" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Writing Code for NLP Research</h3>
        <div class="talk-venue">EMNLP 2018 Tutorial (with Matt Gardner + Mark Neumann)</div>
        <p class="talk-description">A tutorial I gave along with two of my teammates. Due to a baggage-handlers strike at Brussels Airport (really!) it wasn't recorded.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/17NoJY2SnC2UMbVegaRCWA7Oca7UCZ3vHnMqBV4SUayc/edit" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">How Becoming Not a Data Scientist Made Me a Better Data Scientist</h3>
        <div class="talk-venue">Southern Data Science 2018</div>
        <p class="talk-description">Thoughts on why data scientists should care about software engineering best practices.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1jk-qrVKCb0-P9P4BVzH75gcVhp5Dy5n1CP_gKnHMNY0/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">AllenNLP and Best Practices for NLP Research</h3>
        <div class="talk-venue">SAP/Concur "Lunch-n-Learn" (and others) 2018</div>
        <p class="talk-description">When I worked on AllenNLP I thought a lot about the intersection between engineering best practices and NLP research.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1vRtNf9F6TypiG_7tdOLciAxzp9bF-EIDvWXEwJWlH28/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">I Don't Like Notebooks</h3>
        <div class="talk-venue">JupyterCon 2018</div>
        <p class="talk-description">This talk is possibly what I'm most famous for. If you like memes this is the talk for you.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1n2RlMdmv1p25Xy5thJUhkKGvjtV-dkAIsUXP-AL4ffI/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Livecoding Madness: Let's Build a Deep Learning Library</h3>
        <div class="talk-venue">ODSC West 2017 (also, OSCON 2018)</div>
        <p class="talk-description">A livecoding session where I built a deep learning library from scratch.</p>
        <div class="talk-links">
          <a href="https://www.youtube.com/watch?v=o64FV-ez6Gw" class="talk-link">Video</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Using AI to Answer Science Questions</h3>
        <div class="talk-venue">ODSC East 2017 (also, Southern Data Science 2017)</div>
        <p class="talk-description">Seems quaint now that you'd just plug the questions into ChatGPT.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1hLhvkPmRvPGv_gQUu4qDFxamUHqMCdz61shSRUdNkgw/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Fizz Buzz in Tensorflow</h3>
        <div class="talk-venue">PyData Chicago 2016 (also, ODSC West 2016, WrangleConf 2016)</div>
        <p class="talk-description">I've given this talk several times. The ODSC version was the best, but I don't think there's a video of it.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/16aTSekqJdF-WjxymEnfiNvJI-StY0deCYBWiZxhPbyI/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Fun With Trump Tweets</h3>
        <div class="talk-venue">Seattle TwitterDev Meetup, October 2016</div>
        <p class="talk-description">About two fun projects I did with Trump-related tweets.</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1UqbMkki1sY7ivgxcWNhWtTETsuWTIJ6V8OMPQNwAUC0/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Learning and Teaching Data Science from First Principles</h3>
        <div class="talk-venue">Data Day Texas 2016 (and others)</div>
        <p class="talk-description">Yes it's a thinly veiled pitch for my book, but (like the book) it's interesting!</p>
        <div class="talk-links">
          <a href="https://docs.google.com/presentation/d/1E3bUtUpDnexGOdnecwfA0IUGDfHAy4db-1o9N341T9M/edit?usp=sharing" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Stupid Itertools Tricks for Data Science</h3>
        <div class="talk-venue">PyData Seattle 2015</div>
        <p class="talk-description">Fun with itertools.</p>
        <div class="talk-links">
          <a href="https://github.com/joelgrus/stupid-itertools-tricks-pydata" class="talk-link">Slides</a>
        </div>
      </div>

      <div class="talk-item">
        <h3 class="talk-title">Secrets of Fire Truck Society</h3>
        <div class="talk-venue">Ignite Lightning Talk at Strata 2013</div>
        <p class="talk-description">What can we learn about the lives of fire trucks by studying their social networks?</p>
        <div class="talk-links">
          <a href="https://www.youtube.com/watch?v=SoS6ODOqZm0" class="talk-link">Video</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}